body{
    font-family: "Segoe UI";
    background-color: rgb(240, 248, 255);
    text-align: center;
}

p{
    color:red;
    font-weight: 500;
    font-size: x-large;
    font-style: italic;
}

span{
    color:green;
    font-weight: 500;
    font-size: x-large;
    font-style: italic;
}

