body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.searchIpDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipTextField {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  width: 100%;
  max-width: 400px;
}

.ipButton {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ipButton:hover {
  background-color: #388e3c;
}

#infoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ipInfoDiv{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.infoListItem {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.infoListItemLabel {
  font-weight: bold;
  margin-right: 1rem;
}

.infoListItemValue {
  flex-grow: 1;
  text-align: right;
}

li { 
  list-style-image: url(img/iconlist.png); 
} 


@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .ipTextField {
    margin-right: 0.5rem;
  }

  .ipButton {
    font-size: 1rem;
  }

  #infoList {
    font-size: 1rem;
  }

  .infoListItem {
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .infoListItemLabel {
    margin-bottom: 0.5rem;
  }

  .infoListItemValue {
    margin-top: 0.5rem;
    text-align: left;
  }
}
